.downloader-container{
    margin-top: 100px;
    /* height: 300px; */
}
.height{
    
    height: 150px;
    padding-left:10px ;
}
.lols{
    font-size: 50px;
    padding: 0px;
}
.downloader-status{
    margin-top: 10px;
    font-size: 30px;
    padding: 0px;
    color:#fff;
}