body {
  font-family: Arial, sans-serif;
  background-color: #00010D;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.downloader {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-right: 10px;
  font-size: 20px;
  color: #00010D;
  background-color: antiquewhite;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #421172;
  background-color: #BBACF2;
  border-color: black;

}

a {
  display: block;
  margin-top: 10px;
  color: cyan;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
